@mixin md-patterns {
    min-width: 88px;
}

@mixin button {
    border: none;
    border-radius: 2px;
    padding: 0 16px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto';
    background: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    &:focus {
        outline: none;
    }
}

.md {
    &-flat-button {
        @include button;
        @include md-patterns;
        color: $primaryColor;
        &--custom {
            @include button;
            @include md-patterns;
            display: block;
            color: $grayColor;
            & i {
                font-size: 28px;
                margin-right: 16px;
                color: #D0DCE7;
            }
            & span {
                float: right;
                padding: 10px 0;
            }
        }
        &:hover {
            background: rgba(0, 0, 0, .12);
            border-color: transparent;
        }
    }
    &-raised-button {
        @include button;
        background: rgba(0, 0, 0, .12);
        &--primary {
            @include button;
            background: $primaryColor;
            color: #fff;
        }
    }
}

@media only screen and (min-width: 768px) {
    .md {
        &-flat-button {
            border:1px solid $primaryColor;
            &--custom {
                border:1px solid #D0DCE7;
            }
        }
    }
}
