.card {
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  &__title {
      color: $grayColor;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
}
