.tabs-wrapper {
    position: relative;
    &__content {
        margin-bottom: 15px;
        flex-wrap: wrap;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        &__nav {
            display: inline-block;
            max-width: 9999px;
            white-space:nowrap;
            &__tab {
                white-space: nowrap;
                font-size: 14px;
                text-transform: uppercase;
                padding:15px 0 13px;
                margin: 0 10px;
                cursor: pointer;
                display:inline-block;
                &.active, &:hover {
                    border-bottom: 2px solid $primaryColor;
                }
            }
        }
    }
    &__fade {
        position: absolute;
        top:0;
        right: 0;
        bottom:0;
        width: 50px;
        background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(248,248,248,0)),color-stop(100%,rgba(248,248,248,1)));
    }
}