$inputFontSize: 16px;
.text-field {
    position: relative;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0, .42);
    label {
        position: absolute;
        pointer-events: none;
        left: 0;
        top:15px;
        width: 100%;
        transition: 0.2s ease all;
        color: rgba(0,0,0, .54);
        font-size: $inputFontSize;
    }
    input {
        border: none;
        padding: 16px 0 8px 0;
        width: 100%;
        font-size: $inputFontSize;
        font-family: inherit;
        &:focus {
            outline:none;
        }
        &:focus ~ label, &:valid ~ label {
            font-size:12px;
            top: -6px;
            height: auto;
            display: block;
        }
        &:focus ~ label {
            color: $primaryColor;
        }
        &:focus ~ .text-field__underline {
            border-color: $primaryColor;
            width: 100%;
        }
    }
    &__underline {
        border-bottom: 2px solid #ccc;
        margin: auto;
        margin-bottom: -2px;
        width: 0;
        transition: 0.3s ease all;
    }
}
