.list {
    padding: 0;
    &.small-icons {
        li {
            & > i.icon {
                font-size: 18px;
            }
        }
    }
    &__item { 
        &__content {
            display: flex;
            align-items: center;
            font-size: 13px;
            min-height: 32px;
            & i {
                color: $grayColor;
                width:26px;
                font-style: normal;
                font-weight: 700;
                padding-top: 5px;
            }
            & i.icon {
                font-size: 22px;
                margin-top: 3px;
            }
            span {
                padding: 6px 9px;
                float: right;
            }
        }
        &__edit {
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .list.editable {
        margin-top: 15px;
        .list__item {
            display: flex;
            margin-bottom: 1px;
            &__content {
                display: block;
                padding: 3px 20px 3px 5px;
                background: #F5F8F8;
                span {
                    padding: 6px 9px;
                    float: auto;
                }
            }
            &__edit {
                cursor: pointer;
                font-size: 18px;
                display: block;
                border: none;
                background: #ECF1F5;
                color: #727E88;
                padding: 0 12px;
                &:hover {
                    background: #007EE5;
                    color: #fff;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
