.login-wrapper {
    height: 100%;
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 125px;
    }
    &__login-box {
        padding: 0;
        height: inherit;
        &__fields {
            padding:50px;
        }
    }
    p {
        color: rgba(0,0,0, .54);
        font-size: 14px;
    }
    &__footer {
        position: fixed;
        bottom:0;
        width: 100vw;
        button {
            width: 100%;
            padding: 15px 0;
        }
    }
    .text-field {
        margin-bottom: 35px;
    }
}

@media only screen and (max-height: 450px) {
    .login-wrapper__header, .login-wrapper p {
        display: none;
    }
}

@media only screen and (max-height: 768px) {
    .login-wrapper__login-box {
        box-shadow: block;
    }
}

@media only screen and (min-width: 768px) {
    .login-wrapper {
        background: url('/images/login_bg_image.jpg') center no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        &__header {
            height: auto;
            margin-bottom: 35px;
            border-bottom: 1px solid $grayColor;
        }
        &__login-box {
            padding: 35px 45px;
            height: auto;
            max-width: 400px;
            &__fields {
                padding:0px;
                p {
                    text-align: center;
                    margin: 0 0 25px;
                }
            }
        }
        &__footer {
            position: relative;
            width: auto;
        }
    }
}
