html, body {
    margin: 0;
    padding:0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

@import "colors.scss";
@import "material-components/card.scss";
@import "material-components/text-field.scss";
@import "material-components/button.scss";
@import "material-components/tabs.scss";
@import "list.scss";
@import "login-screen.scss";
@import "profile-screen.scss";
@import "utils.scss";

a {
    color: $primaryColor;
    text-decoration: none;
}

.no-padding {
    padding: 0;
}
