.profile-wrapper {
    background: #f4f8f9;
    height: 100%;
    .about-edit { display: none; }
    .editing-actions { display: none; }
    .edit-profile-button {
        padding: 10px 15px;
    }
    &.editing {
        .edit-profile-button { display: none; }
        .about-view { display: none; }
        .about-edit { display: block; }
        .editing-actions { display: flex; }
    }
    .review {
        & i {
            color: $primaryColor;
            width:23px;
            font-size: 23px;
        }
    }
    &__container {
        &__header {
            &__actions {
                display: flex;
                justify-content: flex-end;
                padding: 10px;
            }
            &__upload-cover-image {
                display: none;
            }
            &__details {
                padding: 16px;
                &__photo {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    .image-mask {
                        width: 130px;
                        height: 130px;
                        overflow: hidden;
                        box-shadow: 0 0px 15px rgba(0,0,0, .2);
                        img {
                            margin: 0px 0 0 -115px;
                        }
                    }
                }
                &__name {
                    text-align: center;
                    padding: 5px 0;
                    font-size: 21px;
                    color: #000;
                }
                &__infos {
                    color: $grayColor;
                }
                &__follow {
                    font-size: 14px;
                    color: $grayColor;
                    strong {
                        color: #000;
                    }
                    & > i {
                        margin-right: 10px;
                        font-size: 28px;
                    }
                    & span {
                        padding: 9px 2px;
                        float: right;
                    }
                }
            }
        }
        &__about-edit {
            margin-top:16px;
        }
    }
    &__pop-edit {
        display: none;
        width: 300px;
        background: #fff;
        padding: 20px;
        position: absolute;
        box-shadow: 0 0 18px 3px rgba(0,0,0, .2);
        z-index: 350;
        &__actions {
            display: flex;
            button {
                margin-right:15px;
            }
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            right: 100%;
            top: 20%;
            margin-top: -10px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-right: 13px solid white;
        }
    }
}

@media only screen and (min-width: 768px) {
    .profile-wrapper {
        display: flex;
        justify-content: center;
        &__container {
            max-width: 960px;
            width: 100vw;
            &__header {
                min-height: 280px;
                background: #fff;
                position: relative;
                margin: 35px 0;
                &__upload-cover-image {
                    display: flex;
                    justify-content: center;
                }
                &__details {
                    &__photo {
                        position: absolute;
                        bottom: 10px;
                        left: 20px;
                        z-index: 200;
                        .image-mask {
                            width: 170px;
                            height: 170px;
                        }
                    }
                    &__infos {
                        left: 215px;
                        right: 0;
                        bottom: 60px;
                        position: absolute;
                        z-index: 210;
                        &__personal {
                            float:left;
                        }
                        &__review {
                            float: right;
                            display: flex;
                            .list__item__content {
                                i {
                                    margin: 0;
                                    color: $grayColor;
                                }
                            }
                            margin: 0;
                            
                            .list__item {
                                display: flex;
                            }
                            div {
                                margin-right: 15px;
                            }
                        }
                    }
                    &__follow {
                        background: #fff;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: 6px 20px;
                        z-index: 200;
                    }
                }
                .tabs-wrapper {
                    width: 100%;
                    max-height: 49px;
                    position: absolute;
                    bottom: 0;
                    &__content {
                        margin-bottom: 0;
                        &__nav {
                            margin-left: 210px;
                        }
                    }
                }
            }
        }
    }
}
