.small-text {
    font-size: 14px;
}

.gray-text {
    color: $grayColor;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none
}

.overlay-backdrop {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
}

@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
}